:root {
    --bluebg: #1992D4;
    --sidebar-text: #ffffff;
}

body {
    display: flex;
    flex-direction:row;
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
}

img {
    height: 24px;
    width: 24px;
}

.icl {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    color: var(--sidebar-text);
    font-size: 18px;
    font-weight: 600;
}

#panels .icl span,
#extra .icl span {
    padding-left: 17px;
}

#left {
    display: flex;
    flex-direction: column;
    background-color: var(--bluebg);
    color: var(--sidebar-text);
    padding: 5px 30px;
    width: 260px;
    min-height: 100vh;
}

#title {
    margin: 5px 0;
    height: min-content;
}


#title>img {
    height: 50px;
    width: 50px;
}

#extra {
    margin-top: 32px;
}